html{
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}

body {
    background-color:#EAEFF7;
    color:#333333;
    font-family: monospace;
    text-align: center;
  }

  h1{
    font-size: 300%;
    text-shadow: 0.07em 0.07em black;
  }

  #Beschreibung{
    font-size: 110%;
    padding: 3%;
    padding-bottom: 0;
  }

  button {
    width: 200px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    border: 0px;
    background: #1E3A5E;
    color: #4579b9;
    border-radius: 40px;
    box-shadow: 0em 1em 2em 0em black;
  }

 #LkButtons{
    position: flex;
    width: auto;
    height: auto;
    border: 2px dotted black;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
 }

 #LkButtons button{
  margin-left: 2%;
  margin-right: 2%;
 }

  #FachButtons button{
    display: inline;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 4%;
  }



  button:hover{
    cursor: pointer;
    background-color: #35619b;
  }

  .clicked{
    box-shadow: inset 0em 1em 2em 0em rgba(0, 0, 0, 0.8);
    color: #315E96;
  }

#bestaetigen button{
  display: none;
  margin-top: 10%;
  margin-left: 30%;
  width: 40%;
  height: 40px;
  
} 