html{
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}


body {
  width: 100vw;
  height: 100vh;
  background: #e8e4e0;
  color:rgba(0,0,0,.7);
  font-family: Arial;
  text-align: center;
  }


p{
  font-size: 16px;
}

  h1{
    font-size: 300%;
  }

  button {
    width:  12vw;
    
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    height: 35px;
    border: 0px;
    background: #FFFF;
    color:rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    box-shadow: 0em 0.1em 1em 0em rgba(0, 0, 0, 0.3);

    transition: background-color 0.2s;
  }





  #PrüfungsfachButtons{
    display:  flex;
    flex-wrap: nowrap;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 3%;
    height: auto;
    margin-top: 7%;
    border-bottom: 5px solid #7c1212;
    justify-content: center;
    }

  #PrüfungsfachButtons button{  
    margin-left: 1vw;
    margin-right: 1vw;
  }
  
  

#FachButtons{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: auto;
  justify-content: center;
  margin-top: 2vh;
  border: 1px solid black;
  margin-left: 10vw ;

}

#FachButtons button{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 3%;
}


  #keinPrüfungsfach{
    display: none;
  }


  button:hover{
    cursor: pointer;
    background-color: #7c1212;
    color: white;
  }

.clicked{
    box-shadow: inset 0em 1em 2em 0em rgba(0, 0, 0, 0.8);
    background-color: #7c1212;
    color: white;
  }

#bestätigen{
  display: flex;
  justify-content: center;
}

#bestätigen button{
  display: none;
  margin-top:10%;
  width: 20vw;
  height: 5vh;
  background-color: #7c1212;
  color: white;
  margin-bottom: 5%;
}

#Beschreibung{
  padding: 3%;
  padding-bottom: 0;
  width: 80vw;
  margin-left: 10vw;
}

@media (max-aspect-ratio: 3/4){
  p{
   font-size: 3vw;
 }
 h1{
   font-size: 8vw;
   margin: 1vw;
 }
 button{
  font-size: 2.5vw;
  width: 40vw;
  height: 10vw;
 }


 #bestätigen button{
  width: 50vw;
  height: 10vw;
}

#PrüfungsfachButtons{
  margin: 0;
  width: 85vw;
  margin-left: 7.5vw;
}


#FachButtons{
 width: 100vw;
 margin-left: 0vw;
 border: 1px solid black;
}
}